@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    font-family: "Noto Sans Hanunoo", sans-serif;
  }
}

html {
  scroll-behavior: smooth;
}

.sans {
  font-family: "Noto Sans Hanunoo", sans-serif;
}

.admin-container {
  @apply flex w-full;
}

.admin-sidebar {
  @apply lg:w-2/12 hidden lg:block;
}

.admin-main {
  @apply lg:w-10/12 w-full;
}

.admin-notification {
  @apply bg-gray-400 p-2 rounded-md cursor-pointer;
}

.admin-link {
  @apply pl-8 py-5 hover:bg-[#F8F8F8] rounded-sm relative;
}

.admin-sidebar-icon {
  @apply text-[#5A6474] text-2xl;
}

.admin-sidebar-active {
  @apply text-[#FA0303] absolute h-8 w-1.5 bg-[#FA0303] left-0 rounded-tr-md rounded-br-md;
}

.admin-link-active {
  @apply bg-[#F8F8F8] text-red-500 font-semibold;
}

.border-w::after {
  content: "";
  background: red;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 20%;
}

.fadeinout {
  animation: fadeinout 1.3s infinite;
}

@keyframes fadeinout {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.pagination {
  background-color: #e2e2e5;
  @apply p-2 w-full items-center flex justify-end;
}

.pagination a {
  @apply mx-2 hover:bg-gray-400 p-2 rounded-sm;
}
.pagination__link {
  @apply hover:bg-gray-400;
}

.pagination__link--active a {
  @apply font-bold;
}

.pagination__link--disabled a {
  color: rgb(198, 197, 202);
}
